<div class="container-fluid">
    <div class="row my-2">
        <div class="col-12 p-2 bg-danger text-white rounded-3">
            <h2>Structural Directive</h2>
            <p>[ngClass], [ngStyle]...</p>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-3">
            <div class="p-4 text-center text-white bg-info">
                <h4>Div - 1</h4>
            </div>
        </div>
        <div class="col-3">
            <div class="p-4 text-center text-white bg-success">
                <h4>Div - 2</h4>
            </div>
        </div>
        <div class="col-3">
            <div class="p-4 text-center text-white bg-dark">
                <h4>Div - 3</h4>
            </div>
        </div>
        <div class="col-3">
            <div class="p-4 text-center text-white bg-warning text-white">
                <h4>Div - 4</h4>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-3 text-center">
            <button class="btn btn-danger">Add RED</button>
            <button class="btn btn-primary mx-2">Add BLUE</button>
        </div>
        <div class="col-3 text-center">
            <button class="btn btn-warning">Toggle</button>
        </div>
        <div class="col-3 text-center d-flex">
            <input type="text" placeholder="Num - 1" />
            <input type="text" placeholder="Num - 2" />
        </div>
        <div class="col-3 text-center">
            <div>
                <input type="checkbox" /> &nbsp;
                <select>
                    <option value="">-- select --</option>
                    <option value="India">India</option>
                    <option value="USA">USA</option>
                    <option value="Japan">Japan</option>
                </select>
            </div>
        </div>
    </div>
    
</div>